.care-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #f5f5f5;
    border-radius: 8px;
}
p, h3 {
    margin: 0;
}

button:hover {
    background-color: rgb(65, 0, 82);
}

.care-card {
    display: flex;
    justify-content: space-between;
    background-color: #ededed;
    padding: 16px 20px;
    align-items: center;
    border-radius: 10px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.searchbar::after {
    content: '';
/*    background-image: url('/assets/search.svg');*/
background-color: red;
    width: 20px; /* Defina a largura desejada */
    height: 20px; /* Defina a altura desejada */
    display: inline-block; /* Isso permite que o pseudo-elemento seja renderizado */
    background-size: contain; /* Ajusta o tamanho da imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    margin-left: 8px; /* Adiciona um espaço ao lado do ícone, se necessário */
}
.searchbar {
    width: 100%;
    display: flex; /* Ou outro layout que faça sentido */
    align-items: center; /* Centraliza verticalmente o conteúdo */
}

.card-posto {
    width: 320px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    transition: box-shadow 0.3s ease;
    position: relative
}

    .card-posto:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    }

.card-posto .name-container{

}

.check-status {
    background-image: url('/assets/checkmark.png');
    background-size: 20px;
}
.status-btn {
    
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    padding: 10px;
    position: absolute;
    right: 16px;
    top: 16px;
}
.warning-status {
    background-image: url('/assets/aviso.png');
    background-size: 24px;
}
.card-posto .name-container .status {
    color: #FFFFFF;
    padding: 2px 6px;
    border-radius: 4px;
    width: max-content;
    font-size: 12px;
    margin-block-start: 8px;
}

.card-posto .btns {
    display: flex;
    justify-content: end;
    gap: 4px;
    margin-block-start: 4px;
}

.card-posto .ceub-button {
    font-size: 14px !important;
    padding: 4px !important;
}

.card-container {
    
    display: flex;
    flex-wrap: wrap; /* permite quebra de linha quando necessário */
    gap: 16px; /* espaço entre os cards */
    justify-content: flex-start;
}

.status-alerta {
    background-color: #dda415;
}

.status-concluido {
    background-color: #02BC7D;
}