.care-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 8px;
    padding: 24px;
}
.care-header{
    width: 100%;
    display: flex;
    gap: 32px;
    align-items: center;
}
.care-header form {
    width: 100%;
}

p, h3 {
    margin: 0;
}

button:hover {
    background-color: rgb(65, 0, 82);
}

.card-container {
    background-color: #f5f5f5;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 26px;
}

.care-card {
    display: flex;
    justify-content: space-between;
    background-color: #ededed;
    padding: 16px 20px;
    align-items: center;
    border-radius: 10px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.searchbar::after {
    content: '';
/*    background-image: url('/assets/search.svg');*/
background-color: red;
    width: 20px; /* Defina a largura desejada */
    height: 20px; /* Defina a altura desejada */
    display: inline-block; /* Isso permite que o pseudo-elemento seja renderizado */
    background-size: contain; /* Ajusta o tamanho da imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    margin-left: 8px; /* Adiciona um espaço ao lado do ícone, se necessário */
}
.searchbar {
    width: 100%;
    display: flex; /* Ou outro layout que faça sentido */
    align-items: center; /* Centraliza verticalmente o conteúdo */
}

.card-posto {
    width: 320px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: box-shadow 0.3s ease;
    position: relative
}

    .card-posto:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    }



.check-status {
    background-image: url('/assets/checkmark.png');
    background-size: 20px;
}
.status-btn {
    
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    padding: 10px;
    position: absolute;
    right: 16px;
    top: 16px;
}
.warning-status {
    background-image: url('/assets/aviso.png');
    background-size: 24px;
}
.card-posto .name-container .status {
    color: #FFFFFF;
    padding: 2px 6px;
    border-radius: 4px;
    width: max-content;
    font-size: 12px;
    margin-block-start: 8px;
}

.card-posto .btns {
    display: flex;
    justify-content: end;
    gap: 4px;
    margin-block-start: 4px;
}

.card-posto .ceub-button {
    font-size: 14px !important;
    padding: 4px !important;
}

.card-content {
    
    display: flex;
    flex-wrap: wrap; /* permite quebra de linha quando necessário */
    gap: 16px; /* espaço entre os cards */
    justify-content: flex-start;
}

.status-alerta {
    background-color: #dda415;
}

.status-concluido {
    background-color: #02BC7D;
}

.pagination{
    justify-content: center;
    margin-block-start: 12px;
}
.pagination ul {
    list-style: none;
    display: flex;
    gap: 8px;
    padding: 0;
}

.pagination li a {
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
}

    .pagination li.active a {
        font-weight: bold;
        background-color: #43054E;
        color: white;
        border-color: #43054E;
    }

    .pagination li a:hover {
        background-color: #d79ee2;
        border-color: #d79ee2;
        color: white
    }


.progress-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    position: relative;
}

.step {
    text-align: center;
    flex: 1;
    position: relative;
    color: #999;
}

.step-number {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: white;
    color: #999;
    margin-bottom: 5px;
}

.step-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.step.active .step-number {
    border-color: #007bff;
    background-color: #007bff;
    color: white;
}

.step small {
    display: block;
    margin-top: 5px;
    font-size: 0.8rem;
}

