form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 6px;

}

.form-group label{
    font-size: 20px;
    font-weight: bold;
}

.record-header {
    display: flex;
    margin-block-end: 16px;
    justify-content: space-between;
    align-items: end;
}