html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

input,textarea {
    border: 2px solid #DB7DC7;
    border-radius: 4px;
    padding: 4px 8px;
}

    input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus {
        outline: 1px solid rgb(65, 0, 82);
    }

button, a.ceub-button {
    background-color: #43054E;
    color: white;
    padding: 4px 16px;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    height: fit-content;
    text-decoration: none;
}
.aluno-fields{
    display: block;
}





